name:  青龙容器专用版-docker

on:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: qinglong

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Clone QingLong
        run: |
          git clone https://github.com/whyour/qinglong.git

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./qinglong
          file: ./qinglong/docker/Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/qinglong:latest
